{% extends 'news_analyzer/layout.html' %}

{% block content %}
<div class="component">
    <div class="component-header">News Analyzer</div>
    <div class="component-body">
        <textarea class="text-input" placeholder="Введите текст..."></textarea>
        <button class="submit-button">Отправить</button>
    </div>
</div>

<div id="loaderModal">
    <div class="loader"></div>
</div>

<div id="resultModal">
    <div class="modal-content">
        <div id="resultTitle"></div>
        <div id="probabilityText"></div>
    </div>
</div>
{% endblock %}